default:
    suites:
        default:
            contexts:
                - VDOLog\Tests\Specifications\GameContext
                - VDOLog\Tests\Specifications\ProtocolContext
                - Behat\MinkExtension\Context\MinkContext
                - VDOLog\Tests\Specifications\FormContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: VDOLog\Web\Kernel
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
