default:
    suites:
        default:
            contexts:
                - App\Tests\Specifications\GameContext
                - App\Tests\Specifications\ProtocolContext
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Specifications\FormContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
