<?xml version="1.0"?>
<ruleset name="VDOLog">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="Doctrine"/>

    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude-pattern>*</exclude-pattern>
    </rule>
</ruleset>