{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ changelog|markdown_to_html }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
