<div class="row row-cards">
    <div class="col-6">
        {{ form_start(form, {'attr': {'class': 'card'}}) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="{{ path('dashboard') }}" class="btn btn-link">Abbrechen</a>
                <button type="submit" data-check-form="game" class="btn btn-primary ms-auto">Speichern</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
