{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-title">
        <h1>Spiel "{{ game.name }}" bearbeiten</h1>
    </div>

    {% include 'game/_form.html.twig' %}
{% endblock %}
