.protocol-add-child-highlite {
    background-color: #868e96 !important;
    color: #fff !important;
}

.protocol-add-child-highlite .text-muted {
    color: #fff !important;
}

small i {
    font-size: 87.5% !important;
}

small .btn {
    font-size: 87.5% !important;
    padding: 0 0 2.1px !important;;
}

